node-red/.flows_Robbs-MacBook-Pro.local.json.backup
[{"type":"tab","id":"ab2afabd.54d508","label":"Sheet 1"},{"id":"dd34728.f22cb9","type":"lower-case2","z":"ab2afabd.54d508","name":"","x":467,"y":206,"wires":[["2c7fa084.d3806"]]},{"id":"d1c13cd9.2e3ec","type":"trigger","z":"ab2afabd.54d508","op1":"1","op2":"0","op1type":"val","op2type":"val","duration":"250","extend":"false","units":"ms","name":"","x":158,"y":133,"wires":[[]]},{"id":"ecbc0327.1344","type":"inject","z":"ab2afabd.54d508","name":"say hi","topic":"","payload":"\"{\\\"message\\\": \\\"Hi\\\"}\"","payloadType":"string","repeat":"","crontab":"","once":false,"x":91,"y":205,"wires":[["19b317eb.e64ce8","2c7fa084.d3806"]]},{"id":"2c7fa084.d3806","type":"debug","z":"ab2afabd.54d508","name":"Print to console","active":true,"console":"true","complete":"true","x":300,"y":392,"wires":[]},{"id":"19b317eb.e64ce8","type":"json","z":"ab2afabd.54d508","name":"","x":272,"y":268,"wires":[["2c7fa084.d3806"]]}]